@import "./reset";
@import "./variables";
@import "./mixin";

.about_container{
        width: 60%;
        height: 100%;
        margin: 0 auto;
        padding: 100px;
        @include box-deco;
        background: #{$background-white};
        border-radius: 10px;
        .about_name{
                font-family: 'Playfair Display', serif;
                font-size: 32px;
                font-style: italic;
                text-align: center;
                color: #{$titleColor};
                h2:nth-child(2){
                    font-family: 'Noto Sans KR', sans-serif;
                    font-size: 16px;
                    font-weight: 200;
                    font-style: normal;
                    margin-top: 10px;
                }
        }

}