@import "./reset";
@import "./variables";
@import "./mixin";


html, body{
    height: 100%;
    background-color: #{$blue-jasmine};
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 16px;
    word-break: keep-all;
    cursor: default;

    .main_container{
        text-align: center;
        margin: 30px auto;
        padding: 30px 0;

        .main_title{
            font-size: 40px;
            @include engFont;
            font-weight: 800;
            font-style: italic;
        }
    }
}