@import "./reset";
@import "./variables";
@import "./mixin";

.home_container{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    
    .home_txt_container{
        padding: 100px;
        @include box-deco;
        background: #{$background-white};
        border-radius: 10px;
        margin-bottom: 50px;
    }

    .my_about_container{
        padding: 100px;
        @include box-deco;
        background: #{$background-white};
        border-radius: 10px;
    }
}