@import "./variables";
@import "./mixin";

.movies{
    margin-top: 20px;
    text-align: left;
    text-decoration: none;

    .movies_info {
        width: 40%;
        background: #{$background-white};
        margin: 0 auto 50px;
        padding: 50px;
        border-radius: 5px;
        color: #{$fontColor};
        @include box-deco;
        transition: 0.3s all;

        &:hover{
        @include yellow-deco;
        transition: 0.3s all;
        }
        .movies_text{
            &:active{
                text-decoration: none;
            }
            .movies_title{
                color: #{$titleColor};
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 10px;
                &:active{
                    text-decoration: none;
                }
            }
        }
    }
}