@import "./reset";
@import "./variables";
@import "./mixin";

.signin_form_wrap{

    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding: 100px;
    @include box-deco;
    background: #{$background-white};
    border-radius: 10px;

    .signin_form{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        .signin_form_header{
            font-size: 1.4em;
            font-weight: 600;
            margin-bottom: 1.8rem;
        }

        .signin_input_wrap{
            display: flex;
            flex-flow: column nowrap;
            font-size: 1em;
            margin-bottom: 1.5em;

            .signin_id{
            font-size: 1em;

                margin-bottom: 1em;

                label{
                    font-weight: 500;
                    margin-right: 1.5em;
                }
                input{
                    width: 200px;
                    height: 28px;
                }
            }

            .signin_pwd{
            font-size: 1em;

                label{
                    font-weight: 500;
                    margin-right: 1em;
                }
                input{
                    width: 200px;
                    height: 28px;
                }
            }

           
        }

        button{
            width: 80px;
            height: 30px;
            background-color: #fdfdfd;
            border: none;
            border-radius: 5px;
            font-size: 0.725rem;
            font-weight: 600;
            cursor: pointer;
            @include box-deco;
            transition: 0.4s all;

            &:hover{
                @include yellow-deco;
                transition: 0.4s all;
            }
        }
    }

    .signin_with_kakao{
        width: 150px;
        margin: 2.5em auto 0;
        font-size: 0.9em;
        font-weight: 600;
        cursor: pointer;

        a{
            color: #444;
            transition: 0.4s all;

            &:hover{
                transition: 0.4s all;
                color: #ffee07;
            }
    
            &:visited{
                color: #444;
                transition: 0.4s all;
            }

            &:visited:hover{
                color: #ffee07;
                transition: 0.4s all;
            }
        }

    }

}